<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>
<a href="/signup">Sign up</a>
<br>
<a href="/login">Login</a>
<br>
<form action="/logout" method="post">
    <input type="submit" value="Logout">
</form>